@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-primario: #000000;
  --color-secundario: #f6f6f6;
  --color-terciario: #22d4fd;
  --fuente-monserrat: "Montserrat", sans-serif;
  --fuente-KronoOne: "Krona One", sans-serif;
  --color-hover: #272727;
}

 {
  padding: 0;
  margin: 0;
}

/* parámetros que se aplican a toda la página body */
body {
  background-color: var(--color-primario);
  color: var(--color-secundario);
  box-sizing: border-box;
}

.header {
  padding-top: 2%;
  padding-right: 0%;
  padding-bottom: 0%;
  padding-left: 15%;
}

.header_menu {
  display: flex;
  gap: 80px;
}

.header_menu_link {
  font-family: var(--fuente-monserrat);
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-terciario);
  text-decoration: none;
}

/* clase para manipular el contenedor padre <main> textos e imagenes */
.presentacion {
  display: flex;
  align-items: center;
  padding: 06% 15%;
  justify-content: space-between;
  gap: 82px;
}

/* clase para manipular solo los textos del maine en section */
.presentacion_contenido {
  display: flex;
  width: 50%;
  flex-direction: column;
  gap: 40px;
}

.presentacion_contenido_titulo {
  font-size: 2.25rem;
  font-family: var(--fuente-KronoOne);
}

.titulo-destaque {
  color: var(--color-terciario);
}

.presentacion_contenido_texto {
  font-size: 1.5rem;
  font-family: var(--fuente-monserrat);
}

.presentacion__enlaces {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.presentacion__enlaces__subtitulos {
  font-family: var(--fuente-KronoOne);
  font-size: 1.5rem;
  font-weight: 400;
}

/*clase para manipular los botones de enlaces  */
.presentacion_enlaces_link {
  display: flex;
  justify-content: center;
  width: 50%;
  text-align: center;
  padding: 21.5px 0;
  border-radius: 8px; /* bo des redondiados del background el boton */
  font-size: 1.5rem;
  font-family: var(--fuente-monserrat);
  font-weight: 600; /*en la página de google fonts puedes ver correspondencia de estilos bold 700,semibold 600,etc  */
  text-decoration: none; /* sin subrayados,tachados,etc */
  color: var(--color-secundario);
  border: 2px solid var(--color-terciario);
  gap: 10px;
}

.presentacion_enlaces_link:hover {
  background-color: var(--color-hover);
}

.presentacion_imagen {
  width: 50%;
}

.footer {
  background-color: var(--color-terciario);
  color: var(--color-primario);
  padding: 1.5rem;
  text-align: center;
  font-family: var(--fuente-monserrat);
  font-weight: 400;
  font-size: 1.5rem;
}
@media (max-width: 1200px) {
  .header_menu {
    justify-content: center;
  }
  .header {
    padding: 10%;
  }

  .presentacion {
    flex-direction: column-reverse;
    padding: 5%;
  }

  .presentacion_contenido {
    width: auto;
  }
}
